<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc002:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc002_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc002/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc002" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="application" name="Spring-4.3.18.RELEASE" />
          <element id="library" level="application" name="Spring MVC-4.3.18.RELEASE" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/jstl.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/standard.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/aopalliance-1.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/commons-logging-1.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-tx-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-aop-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-jms-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-orm-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-oxm-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-core-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-jdbc-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-test-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-beans-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-aspects-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-context-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-messaging-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-expression-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-instrument-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-context-support-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/spring-instrument-tomcat-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="D:/software/jakarta-taglibs-standard-1.1.2/lib/standard.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/commons-io-2.6.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/joda-time-2.10.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/classmate-1.3.4.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/jackson-core-2.9.6.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/jackson-databind-2.9.6.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/commons-fileupload-1.3.3.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/jackson-annotations-2.9.6.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/jboss-logging-3.3.2.Final.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/validation-api-2.0.1.Final.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/hibernate-validator-6.0.10.Final.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/hibernate-validator-cdi-6.0.10.Final.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc002/web/WEB-INF/lib/hibernate-validator-annotation-processor-6.0.10.Final.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>