<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc003:war exploded2">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc003_war_exploded2</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc003/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc003" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/aopalliance-1.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/commons-logging-1.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-tx-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-aop-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-jms-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-orm-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-oxm-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-core-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-jdbc-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-test-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-beans-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-aspects-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-context-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-messaging-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-expression-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-instrument-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-context-support-4.3.18.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/springmvc003/web/WEB-INF/lib/spring-instrument-tomcat-4.3.18.RELEASE.jar" />
          <element id="library" level="application" name="Spring-4.3.18.RELEASE" />
          <element id="library" level="application" name="Spring MVC-4.3.18.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>